<template>
  <ion-page>
    <!-- burger menu with content -->
    <ion-menu content-id="main-content" id="burger-menu">
      <!-- burger menu header -->
      <ion-header>
        <ion-toolbar>
          <ion-title id="header_contacts">Users</ion-title>
        </ion-toolbar>
      </ion-header>
      <!-- contacts list -->
      <ion-list id="users-list">
        <!-- the function createDirectChat has to be replaced  -->
        <ion-button
          v-for="user in users"
          class="ion-padding user"
          @click="openChat(user.id)"
          v-bind:key="user.id"
          >{{ user.name }}</ion-button
        >
      </ion-list>

      <ion-button id="createGroupChat" @click="toggleModal">
        Create Group Chat
      </ion-button>
      <!-- GroupChatModal integration with props and emits -->
      <group-chat-modal
        :showModal="isModalVisible"
        :users="users"
        @cancel="toggleModal"
        @groupData="createGroupChat"
      ></group-chat-modal>
      <ion-footer class="ion-padding">
        <img id="overlay_logo" src="https://i.ibb.co/Y2VVhjc/logo.png" />
      </ion-footer>
    </ion-menu>

    <!-- main content  -->
    <div id="main-content">
      <!-- header -->
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button id="menu_button"></ion-menu-button>
          </ion-buttons>
          <ion-title
            ><img id="overlay_logo" src="https://i.ibb.co/Y2VVhjc/logo.png"
          /></ion-title>
        </ion-toolbar>
      </ion-header>
      <div id="chat-components">
        <ion-list id="chat-list" :inset="true" lines="full">
          <ion-item
            button
            detail="true"
            v-for="chat in chats"
            :key="chat.id"
            @click="openExistingChat(chat)"
          >
            <ion-avatar slot="start">
              <img
                alt="Silhouette of a person's head"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
            <ion-label>
              <!-- include the name of the opposite if no group_name is available with ?? -->
              <h3>{{ chat.group_name ?? chat.opponent }}</h3>
              <p>last message</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- ChatComponent integration with props and emits -->
        <chat-component
          id="chat-component"
          v-if="currentChatId.length > 0"
          :chatId="currentChatId"
          :currentUserId="currentUserId"
          :isGroupChat="isGroupChat"
        ></chat-component>
      </div>
    </div>
  </ion-page>
</template>

<script setup>
import {
  IonMenu,
  IonPage,
  IonHeader,
  IonToolbar,
  IonTitle,
  IonButton,
  IonButtons,
  IonList,
  IonItem,
  IonLabel,
  IonAvatar,
  IonFooter,
} from "@ionic/vue";
import { onMounted, ref } from "vue";
import { getAuth, onAuthStateChanged } from "firebase/auth";
import {
  collection,
  setDoc,
  getDocs,
  doc,
  onSnapshot,
  addDoc,
  where,
  query,
} from "firebase/firestore";
import { getStorage, ref as ref2, uploadBytes } from "firebase/storage";
import GroupChatModal from "../components/GroupChatModal.vue";
import ChatComponent from "../components/ChatComponent.vue";

import { useReadMessages } from "../composables/useReadMessages.js";
import { useFirebaseCapabilities } from "../composables/useFirebaseCapabilities";

// global variables
const auth = getAuth();
const users = ref([]);
const chats = ref([]);
const currentUserId = ref("");
const oppositeId = ref("");
const currentChatId = ref("");
const storage = getStorage();
const isModalVisible = ref(false);
const isGroupChat = ref(false);

const { readChatMessages, readGroupChatMessages, messages } = useReadMessages();
const { db } = useFirebaseCapabilities();

// ***HELPER SECTION***
// function to get all user documents from firestores users collection
async function getUsers() {
  const querySnapshot = await getDocs(collection(db.value, "users"));
  querySnapshot.forEach((doc) => {
    users.value.push({
      ...doc.data(),
    });
  });
}

// Funktion welche alle Chats im array chats abspeichert, in welchen sich der aktuelle User befindet.
// im Array chats wird  die Chat id ausgegeben und der dazugehörige Chat "Opponent"
// ToDo backend: die Funktion muss so umgeschrieben werden, dass beim Hinzufügen eines neuen Chats im Firestore
// nur dieser eine neue chat in den chats array aufgenommen wird und nicht die gesamt collection
// meine Vermutung ist, dass es über getDoc gehen muss und nicht über onSnapshot
const getMyChats = () => {
  console.log("getMyChats", chats.value);
  const myChats = ["group_chats", "direct_chats"];
  myChats.forEach((collectionName) => {
    onAuthStateChanged(auth, (user) => {
      const id = user.uid;
      const chatRef = collection(db.value, collectionName);
      const queryChats = query(chatRef, where("member", "array-contains", id));
      onSnapshot(queryChats, (snapshot) => {
        snapshot.docs.forEach((doc) => {
          chats.value.push({
            ...doc.data(),
            id: doc.id,
            //  TODO backend: has to be changed to get the name from the opponent
            opponent: doc.data().member[1],
          });
        });
      });
    });
  });
};

// function to open an existing chat from the chats list
const openExistingChat = (chat) => {
  currentChatId.value = chat.id;
  // checks if a group_name is availabe inside the chat-object
  if (chat.group_name?.length > 0) {
    isGroupChat.value = true;
    readGroupChatMessages(chat.id);
  } else {
    readChatMessages(chat.id);
  }
};

// toggle GroupChatModal
const toggleModal = () => {
  isModalVisible.value = !isModalVisible.value;
};

// Eine Datei in den Storage laden
/*const uploadImage = () => {
  const photo = document.getElementById("photo").files[0];
  const imageRef = ref2(storage, "groupImages/bild.jpg");
  uploadBytes(imageRef, photo).then(() => {
    console.log("Image uploaded");
  });
};
*/

// ***DIRECT CHAT SECTION***
// function to create a new directChat with a user or (if already existing) read a directChat
const openChat = (oId) => {
  // clears currentChatId and messages array (necessary to be able to switch between the chats)
  currentChatId.value = "";
  messages.value = [];
  // set the id value of the new opposite for the directChat
  oppositeId.value = oId;
  // a variable to collect all existing chats of the app
  const allChatIds = [];
  onAuthStateChanged(auth, async (user) => {
    // save the current user
    currentUserId.value = user.uid;
    // get all direct chat ids from firebase and push these into the allChatIds variable
    const chatCollection = collection(db.value, "direct_chats");
    const chatCollectionDocs = await getDocs(chatCollection);
    chatCollectionDocs.forEach((doc) => {
      allChatIds.push(doc.id);
    });
    // check inside allChatIds if a chat already exists between the currentUserId and the oppositeId
    allChatIds.forEach((chatId) => {
      if (
        chatId.includes(oppositeId.value) &&
        chatId.includes(currentUserId.value)
      ) {
        // if a chat between the current user and its opposite exists, save its chatId inside currentChatId and provide it globally
        currentChatId.value = chatId;
      }
    });
    // take the globally provided currentChatId and check its value...
    if (currentChatId.value.length > 0) {
      // If it's not empty = already existing, then read the messages inside this chat ...
      readChatMessages(currentChatId.value);
    } else {
      // ... otherwise create a new chat
      createDirectChat(oppositeId.value);
    }
  });
};

// function to create a new chat with a user
// the oId parameter is passed through the globally provided users array
const createDirectChat = (oId) => {
  onAuthStateChanged(auth, (user) => {
    const dmRef = collection(db.value, "direct_chats");
    setDoc(doc(dmRef, currentUserId.value + "_" + oppositeId.value), {
      member: [user.uid, oId],
      last_message: ""
    });
    isGroupChat.value = false;
    currentChatId.value = currentUserId.value + "_" + oppositeId.value;
  });
  console.log("openChat", chats.value);
};

// ***GROUP CHAT SECTION***
const createGroupChat = (groupData) => {
  // groupData is passed from GroupChatModal
  const groupName = groupData.groupName;
  const groupChatMembers = groupData.groupChatMembers;
  onAuthStateChanged(auth, (user) => {
    currentUserId.value = user.uid;
    // add also own userid to the group member array
    groupChatMembers.push(currentUserId.value);
    addDoc(collection(db.value, "group_chats"), {
      group_name: groupName,
      member: groupChatMembers,
      group_admins: [user.uid],
      imagePath: "groupImages/" + groupName,
      last_message: ""
    }).then((groupRef) => {
      const imageRef = ref2(storage, "groupImages/" + groupName);
      uploadBytes(imageRef, groupData.groupImage);
      isGroupChat.value = true;
      currentChatId.value = groupRef.id;
      toggleModal();
      readGroupChatMessages(currentChatId.value);
    });
  });
};

// vue lifecycle hooks
onMounted(() => {
  getUsers();
  getMyChats();
});
</script>

<style scoped>
/* header */
#header_contacts {
  color: #000;
}

#users-list {
  height: 100%;
  margin: 0;
  padding: 0;
}
.user {
  display: block;
}

#menu_button {
  color: #000;
}

#overlay_logo {
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#chat-components {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

#chat-list {
  min-height: 340px;
  overflow-y: scroll;
}

#chat-component {
  bottom: 0;
  width: 100%;
}
</style>
