<template>
  <IonPage>
    <div class="bg"></div>
    <section id="login-wrapper">
      <img
        id="overlay_logo"
        src="https://i.ibb.co/Y2VVhjc/logo.png"
        @click="signInWithGoogle"
      />
      <img
        id="overlay_text-layer"
        src="https://i.ibb.co/17wvznk/text-layer.png"
        @click="signInWithGoogle"
      />
      <div id="overlay_google-button" @click="signInWithGoogle"></div>
      <div class="bg"></div>
    </section>
  </IonPage>
</template>

<script setup>
import {
  getAuth,
  signInWithPopup,
  GoogleAuthProvider,
  onAuthStateChanged,
} from "firebase/auth";
import { useRouter } from "vue-router";
import { IonPage } from "@ionic/vue";
import {
  getFirestore,
  onSnapshot,
  setDoc,
  collection,
  query,
  where,
  doc,
} from "@firebase/firestore";

const router = useRouter();
const auth = getAuth();
const provider = new GoogleAuthProvider();

const signInWithGoogle = () => {
  signInWithPopup(auth, provider)
    .then((result) => {
      // This gives you a Google Access Token. You can use it to access the Google API.
      const credential = GoogleAuthProvider.credentialFromResult(result);
      const token = credential.accessToken;

      // The signed-in user info. Not used currently, could be important in the future
      //const user = result.user;

      // store JWT-Token in local storage of the browser
      localStorage.setItem("token", token);
      createUser();

      // redirect to ChatView after token is stored in local storage
      router.push("/chat");
    })

    // catch errors while execution
    .catch((error) => {
      console.log(error);
    });
};

const createUser = () => {
  const auth = getAuth();
  onAuthStateChanged(auth, (user) => {
    if (user) {
      const db = getFirestore();
      const userRef = collection(db, "users");
      const userQueue = query(userRef, where("user_id", "==", user.uid));

      onSnapshot(userQueue, (snapshot) => {
        let users = [];
        snapshot.docs.forEach((doc) => {
          users.push({ ...doc.data(), id: doc.id });
        });
        setDoc(doc(db, "users", user.uid), {
          name: user.displayName,
          id: user.uid,
          chats: ["main"],
        });
      });
    } else {
      console.log("Hello");
    }
  });
};
</script>

<style scoped>
@media only screen and (min-width: 768px) {
  /* DESKTOP */
  #overlay_logo {
    max-width: 65%;
    position: absolute;
    top: 15%;
    left: 18%;
  }
  #overlay_text-layer {
    max-width: 60%;
    position: absolute;
    top: 45%;
    left: 20%;
  }
  #overlay_google-button {
    background-size: 250px !important;
    background: url("https://i.ibb.co/Rj2Fw1P/google-button.png") no-repeat;
    position: absolute;
    width: 250px;
    height: 50px;
    left: 20%;
    top: 70%;
  }
  #overlay_google-button:hover {
    background: url("https://i.ibb.co/xgNVyJG/google-button-hover.png")
      no-repeat;
  }
  #login-wrapper {
    width: 24rem;
    padding: 12%;
    background: #e7e7e7;
    border-radius: 6px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 20%));
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 20%));
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  body,
  html {
    height: 100%;
    margin: 0;
  }

  .bg {
    /* The image used */
    background-image: url("https://i.ibb.co/cL55y2k/web-bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 767px) {
  /* MOBILE / ANDROID */
  #overlay_logo {
    max-width: 65%;
    position: absolute;
    top: 15%;
    left: 20%;
  }
  #overlay_text-layer {
    max-width: 60%;
    position: absolute;
    top: 45%;
    left: 22%;
  }
  #overlay_google-button {
    max-width: 50%;
    position: absolute;
    top: 65%;
    left: 25%;
  }
  #login-wrapper_phone {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  body,
  html {
    height: 100%;
    margin: 0;
  }
  .bg {
    /* The image used */
    background-image: url("https://i.ibb.co/cL55y2k/web-bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #overlay_google-button {
    background-size: 300px !important;
    background: url("https://i.ibb.co/Rj2Fw1P/google-button.png") no-repeat;
    position: absolute;
    min-width: 300px;
    height: 60px;
    left: 25%;
    top: 70%;
  }
  #overlay_google-button:hover {
    background: url("https://i.ibb.co/xgNVyJG/google-button-hover.png")
      no-repeat;
  }
  #login-wrapper {
    width: 24rem;
    padding: 40%;
    background: #e7e7e7;
    border-radius: 6px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 20%));
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 20%));
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #login-wrapper h1 {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }
  #login-wrapper button {
    background: var(--ion-color-primary);
    width: 100%;
    padding: 0.5rem;
    color: #fff;
  }
}
</style>
