<template>
  <!-- chat window -->
  <div id="chat-window-wrapper">
    <ion-content id="chat-content">
      <ion-list no-lines id="chat-window-list">
        <div
          v-for="message in messages"
          v-bind:key="message.docId"
          class="msgbubble"
        >
          <div
            class="innermsg left"
            v-if="props.currentUserId != message.user_id"
          >
            {{ message.text }}
          </div>
          <div
            class="innermsg right"
            v-if="props.currentUserId == message.user_id"
          >
            {{ message.text }}
          </div>
        </div>
      </ion-list>
    </ion-content>

    <ion-footer class="ion-padding" id="chat-input">
      <ion-input
        id="msg-input"
        placeholder="Please enter your message"
        v-model="chatMessage"
      ></ion-input>
      <input type="file" id="img" />
      <!-- post direct chat message -->
      <ion-button
        v-if="!props.isGroupChat"
        id="writeMessage"
        @click="createDirectChatMessage(props.chatId, chatMessage)"
      >
        Create Chat Message
      </ion-button>
      <!-- post group chat message -->
      <ion-button
        v-if="props.isGroupChat"
        id="writeMessage"
        @click="createGroupChatMessage(props.chatId, chatMessage)"
      >
        Create Group Chat Message
      </ion-button>
    </ion-footer>
  </div>
</template>

<script setup>
import { IonInput, IonList, IonButton, IonFooter } from "@ionic/vue";
import {
  collection,
  setDoc,
  doc,
  serverTimestamp,
  updateDoc,
} from "firebase/firestore";
import { getAuth, onAuthStateChanged } from "firebase/auth";

import { useFirebaseCapabilities } from "../composables/useFirebaseCapabilities.js";
import { useReadMessages } from "../composables/useReadMessages.js";
import { defineProps } from "vue";
import { v4 as uuidv4 } from "uuid";
import {
  getDownloadURL,
  uploadBytes,
  ref as ref2,
  getStorage,
} from "@firebase/storage";

const props = defineProps(["chatId", "currentUserId", "isGroupChat"]);
const auth = getAuth();
const storage = getStorage();
const { db } = useFirebaseCapabilities();
const { readChatMessages, readGroupChatMessages, messages } = useReadMessages();

const createDirectChatMessage = (chatId, chatMessage) => {
  onAuthStateChanged(auth, (user) => {
    // checks if a file was uploaded...
    const file = document.getElementById("img").files[0];
    if (file != null) {
      // generate unique key for the file 
      //const fPath = ref2("msg/"+user.uid+"..."+uuidv4());
      const tempId = uuidv4();
      // collect data for the upload 
      const fileChatMessageRef = ref2(storage, tempId);
      // .. if yes, upload this file to storage... 
      uploadBytes(fileChatMessageRef, file).then(() => {
        getDownloadURL(ref2(storage, fileChatMessageRef)).then((url) => {
          const thisUrl = url;
          const chatRef = collection(
            db.value,
            "direct_chats",
            chatId,
            "messages"
          );
          // ... and post the storage url of the file into the firestore chat collection 
          setDoc(doc(chatRef), {
            text: thisUrl,
            user_id: user.uid,
            name: user.displayName,
            timestamp: serverTimestamp(),
          });
          updateDoc(doc(db.value, "direct_chats", chatId), {
            last_message: thisUrl,
          });
        });
      });
      // read the chat afterwards
      readChatMessages();
    } else if (file == null) {
      const chatRef = collection(db.value, "direct_chats", chatId, "messages");
      setDoc(doc(chatRef), {
        text: chatMessage,
        user_id: user.uid,
        user_name: user.displayName,
        timestamp: serverTimestamp(),
      });
      updateDoc(doc(db.value, "direct_chats", chatId), {
        last_message: chatMessage,
      });
      // read this new created chat message afterwards
      readChatMessages(chatId);
      const msgInput = document.querySelector("#msg-input input");
      msgInput.value = "";
    }
  });
};

const createGroupChatMessage = (chatId, chatMessage) => {
  onAuthStateChanged(auth, (user) => {
    const groupRef = collection(db.value, "group_chats", chatId, "messages");
    setDoc(doc(groupRef), {
      text: chatMessage,
      user_id: user.uid,
      user_name: user.displayName,
      timestamp: serverTimestamp(),
    });
    updateDoc(doc(db.value, "group_chats", chatId), {
      last_message: chatMessage,
    });
    // read this new created chat message afterwards
    readGroupChatMessages(chatId);
    const msgInput = document.querySelector("#msg-input input");
    msgInput.value = "";
  });
};
</script>

<style scoped>
#chat-input {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  border: 1px solid #000;
  width: 100%;
}

#msg-input {
  width: 100%;
}

.innermsg {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.innermsg.left {
  float: left;
  background-color: #f1f0f0;
  color: black;
  clear: both;
}

.innermsg.right {
  float: right;
  margin-right: 10%;
  background-color: #0084ff;
  color: white;
  clear: both;
}

#chat-content {
  max-height: 550px;
  min-height: 450px;
}

.msgbubble {
  margin-bottom: 10px;
}
</style>
