<template>
  <div id="backdrop" v-if="props.showModal">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button @click="cancel">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Create New Group</ion-title>
        <ion-buttons slot="end">
          <ion-button :strong="true" @click="confirm">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Enter the group name</ion-label>
        <ion-input
          ref="input"
          type="text"
          placeholder="Group name"
          v-model="groupName"
        ></ion-input>
      </ion-item>
      <ion-list id="users-list">
        <ion-item>
          <ion-select
            placeholder="Add new members"
            :multiple="true"
            @ionChange="addMembers"
          >
            <ion-select-option
              v-for="user in props.users"
              :key="user.id"
              :value="user.id"
              >{{ user.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <input type="file" id="image" />
      </ion-list>
    </ion-content>
  </div>
</template>

<script setup>
import {
  IonHeader,
  IonToolbar,
  IonTitle,
  IonInput,
  IonButton,
  IonButtons,
  IonSelect,
  IonLabel,
} from "@ionic/vue";

import { defineProps, defineEmits, ref } from "vue";

const props = defineProps(["showModal", "users"]);
const emit = defineEmits(["cancel", "groupData"]);
let groupChatMembers = [];
const groupName = ref();

const cancel = () => {
  emit("cancel");
};

const confirm = () => {
  const photo = document.getElementById("image").files[0];
  emit("groupData", {
    groupName: groupName.value,
    groupChatMembers: groupChatMembers,
    groupImage: photo,
  });
};

const addMembers = (event) => {
  groupChatMembers = event.detail.value;
};
</script>

<style scoped>
#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 5000;
}

#dialog-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #000;
  width: 32rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
